body {
  font-family: Arial;
  margin: 0;
}

.header {
	head:100px;
  padding: 60px;
  text-align: center;
  background-image:url("back3.jpg");	
  background-attachment:fixed;
  color: white;
  font-size: 30px;
}

.content {
	padding:20px;
	background-color:#ccc5b9;
	color:white;
}

.topnav {
  background-color: #eb5e28;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#eb5e28;
  color: white;
}

.topnav a.active {
  background-color: #eb5e28;
  color: white;
}
* {
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 0px;
  height: 500px; 
}


.row:after {
  display: table;
  clear: both;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#252422;
   color: white;
   text-align: center;
}